dist
build/
dependencies
__py*
.env
env
venv*
uonsx.egg-info
.python-version
settings.ini
.coverage
htmlcov
demo*
playground*
.pytest_cache
.vscode
__init__.pyc
scripts/firewall_manifests/*
!scripts/firewall_manifests/placeholder.txt
.DS_Store
